/*
0 - 600px      Phone
600 - 900px    Tablet potrait
900 - 1200px   Tablet landscape
1200 - 1800px  Normal styles apply here
1800px +       Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-Regular.ttf") format("truetype");
  font-weight: normal;
}
body {
  font-family: "Poppins", sans-serif;
}

.heading-secondary {
  color: #f8f3f0;
  display: inline-block;
  margin-bottom: 1rem;
}
.heading-secondary--pill {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.6rem;
  text-transform: uppercase;
  border: 1px solid #dba143;
  border-radius: 10rem;
  background-color: rgba(219, 161, 67, 0.1);
  padding: 0.1rem 1.6rem;
  margin-bottom: 1.5rem;
}
.heading-secondary--main {
  display: block;
  font-family: "Recoleta", sans-serif;
  font-size: 2.8rem;
  line-height: 3rem;
  font-weight: 500;
}
@media only screen and (max-width: 600px) {
  .heading-secondary--main {
    font-size: 2.5rem;
  }
}

.paragraph {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-l {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-m {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-s {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-l {
  margin-top: 8rem !important;
}

.u-margin-top-xl {
  margin-top: 10rem !important;
}

.review-card {
  background-color: #ffffff;
  width: 25rem;
  border-radius: 1.2rem;
  padding: 2rem;
}
@media only screen and (max-width: 600px) {
  .review-card {
    width: 25.5rem;
  }
}
.review-card__header {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}
.review-card__meta {
  display: flex;
  align-items: center;
}
.review-card__name {
  font-size: 1.75rem;
  font-family: "Recoleta", sans-serif;
  font-weight: 600;
  margin-right: 0.6rem;
  line-height: 2rem;
}
.review-card__rating {
  color: #dba143;
}
.review-card__duration {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: rgba(10, 15, 9, 0.7);
}
.review-card__photo {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
}

.carousel {
  overflow-x: hidden;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 106rem;
  margin: auto;
}
@media only screen and (max-width: 1200px) {
  .carousel {
    width: 79rem;
  }
}
@media only screen and (max-width: 900px) {
  .carousel {
    width: 52rem;
  }
}
@media only screen and (max-width: 600px) {
  .carousel {
    width: 25.5rem;
    overflow-x: visible;
  }
}
.carousel__filler {
  position: absolute;
  display: block;
  height: 100%;
  width: 27rem;
  z-index: 20;
  opacity: 1;
  transition: all ease 0.3s;
}
.carousel__filler--left {
  left: 0;
  background: linear-gradient(to right, #003e33, transparent);
}
.carousel__filler--right {
  right: 0;
  background: linear-gradient(to left, #003e33, transparent);
}
.carousel__filler--hidden {
  opacity: 0;
  visibility: hidden;
}
@media only screen and (max-width: 900px) {
  .carousel__filler {
    display: none;
  }
}
.carousel__list {
  align-self: flex-start;
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  transition: transform ease-in-out 0.6s;
}
@media only screen and (max-width: 600px) {
  .carousel__list {
    gap: 1rem;
  }
}
.carousel__slide {
  list-style: none;
}
.carousel__btn-container {
  align-self: center;
  width: 13rem;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.carousel__btn {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  border: 1px solid rgba(248, 243, 240, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color ease-in 0.4;
}
.carousel__btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.carousel__btn:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.row {
  max-width: 114rem;
  margin: auto;
  overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
  .row {
    padding: 0 3rem;
  }
}

.section-reviews {
  background-color: #003e33;
  padding: 15rem 0;
}