.carousel {
    overflow-x: hidden;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc-carousel-width($review-card-width, $carousel-list-gap, 4);
    margin: auto;

    @include respond(tab-land) {
        width: calc-carousel-width($review-card-width, $carousel-list-gap, 3);
    }

    @include respond(tab-port) {
        width: calc-carousel-width($review-card-width, $carousel-list-gap, 2);
    }

    @include respond(phone) {
        width: calc-carousel-width($review-card-width-phone, $carousel-list-gap-phone, 1);
        overflow-x: visible;
    }

    //For the fadded effect at the corners
    &__filler {
        position: absolute;
        display: block;
        height: 100%;
        width: calc($review-card-width + $carousel-list-gap);
        z-index: 20;
        opacity: 1;
        transition: all ease 0.3s;

        &--left {
            left: 0;
            background: linear-gradient(to right, $color-primary, transparent);
        }

        &--right {
            right: 0;
            background: linear-gradient(to left, $color-primary, transparent);
        }

        &--hidden {
            opacity: 0;
            visibility: hidden;
        }

        @include respond(tab-port) {
            display: none;
        }
    }

    &__list {
        align-self: flex-start;
        display: flex;
        gap: $carousel-list-gap;
        margin-bottom: 1rem;
        transition: transform ease-in-out 0.4s;

        @include respond(phone) {
            gap: $carousel-list-gap-phone;
        }
    }

    &__slide {
        list-style: none;
    }

    &__btn-container {
        align-self: center;
        width: 13rem;
        padding: 1.2rem;
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;
        border: 1px solid rgba($color-light, 0.4);
        background-color: rgba($color-white, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color ease-in 0.4;

        &:hover {
            background-color: rgba($color-white, 0.3);
        }

        &:active {
            background-color: rgba($color-white, 0.4);
        }
    }
}
