//COLORS
$color-primary: #003e33;
$color-secondary: #dba143;

$color-white: #ffffff;
$color-black: #000000;

$color-dark-green: #0a0f09;
$color-dark: #0a0f09;
$color-light: #f8f3f0;

// FONT-SIZE
$default-font-size: 1.4rem;

//FONT-FAMILY
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Recoleta", sans-serif;

//REVIEW-CARD
$review-card-width: 25rem;
$review-card-width-phone: 25.5rem;

//CAROUSEL
$carousel-list-gap: 2rem;
$carousel-list-gap-phone: 1rem;
